@model Firma.Data.Data.CMS.Strona

@{
    ViewData["Title"] = @Model.LinkTytul;
}
<h1 class="header center orange-text">@Model.Tytul</h1>
<div class="row center">
    <h5 class="header col s12 light">Learn about <a href="https://docs.microsoft.com/aspnet/core">@Model.Tytul</a>.</h5>
    @*Interpretuje treść jako HTML*@
    @Html.Raw(@Model.Tresc)
</div>
<br>
<br>

@await Html.PartialAsync("Aktualnosci",(IEnumerable<Firma.Data.Data.CMS.Aktualnosc>)ViewBag.ModelAktualnosci)

<br>
<br>
